

.calendar-container {
  max-width: 100%;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-sizing: border-box;
}

.calendar-header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  width: 100%;
}

.calendar-header-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.calendar-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.calendar-header {
  display: contents;
}

.calendar-header-cell, .calendar-cell {
  background-color: #f0f0f0;
  padding: 1px;
  text-align: center;
  font-weight: bold;

}

.calendar-body {
  display: contents;
}

.calendar-cell {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  min-width: 80px;
  min-height: 20px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.calendar-day-number {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.calendar-appointment {
  background-color: #ad2121;
  color: #fff;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 3px;
}

.today {
  border: 2px solid #007bff;
  background-color: #e7f3ff;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}

.form-field:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .calendar-header-title {
    font-size: 1.2em;
  }

  .calendar-cell {
    padding: 5px;
    min-height: 60px;
  }

  .calendar-day-number {
    font-size: 1em;
  }

  .form-row {
    flex-direction: column;
  }

  .form-field {
    margin-right: 0;
  }
}