.calendar-container {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.calendar-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  border: 1px solid #ddd;
  transform: scale(0.9); /* зменшення масштабу таблиці */
}

.calendar-header {
  display: contents;
}

.calendar-header-cell {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.calendar-body {
  display: contents;
}

.calendar-cell {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  min-height: 80px; /* зменшено висоту */
  cursor: pointer;
  position: relative;
}

.calendar-cell-top {
  display: flex;
  justify-content: space-between;
}

.calendar-day-number {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.calendar-appointment {
  background-color: #ad2121;
  color: #fff;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 3px;
}

.today {
  border: 2px solid #007bff;
  background-color: #e7f3ff;
}
