<mat-toolbar color="primary">
    <span>My Calendar</span>
  </mat-toolbar>
  <div class="calendar-container">
    <div class="calendar-table">
      <div class="calendar-header">
        <div *ngFor="let day of daysOfWeek" class="calendar-header-cell">{{ day }}</div>
      </div>
      <div class="calendar-body">
        <div *ngFor="let day of (calendarDays$ | async)" 
             class="calendar-cell" 
             cdkDropList 
             [cdkDropListData]="day.appointments" 
             (cdkDropListDropped)="drop($event)"
             [ngClass]="{'today': isToday(day.date)}"
             [attr.data-date]="day.date.toISOString()"
             tabindex="0"
             (click)="openDialog(day.date)" 
             (keyup.enter)="openDialog(day.date)">
          <div class="calendar-cell-top">
            <span class="calendar-day-number">{{ day.date | date: 'd' }}</span>
          </div>
          <div *ngFor="let appointment of day.appointments" 
               cdkDrag 
               class="calendar-appointment" 
               tabindex="0"
               (click)="openDetailDialog(appointment)" 
               (keyup.enter)="openDetailDialog(appointment)">
            {{ appointment.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
  