.calendar-container {
  padding: 10px;
  width: 100%;
  max-width: 1200px; /* Максимальна ширина календаря */
  margin: auto;
}

.calendar-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-header-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.calendar-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  border: 1px solid #ddd;
}

.calendar-header {
  display: contents;
}

.calendar-header-cell {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.calendar-body {
  display: contents;
}

.calendar-cell {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  min-width: 80px;
  cursor: pointer;
  position: relative;
}

.calendar-cell-top {
  display: flex;
  justify-content: space-between;
}

.calendar-day-number {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.calendar-appointment {
  background-color: #ad2121;
  color: #fff;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 3px;
}

.today {
  border: 2px solid #007bff;
  background-color: #e7f3ff;
}
